
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    background-color: #0c1c30;
    font-family: 'Source Code Pro', monospace;
    margin: 0px;
}

#topBg {
    width: 100%;
    height: 200px;
}

.path
{
    /*stroke-dasharray: 10;*/
}

.hero {
/*    height: 20em;
*/    /*background-color: #0c1c30;*/
    background-size: cover;
    
}

    .hero #myName {
        /*padding:13px;*/
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width:50%;
    }

    .hero h1, .hero h2 {
        color: #fbae3c;
        position: relative;
        text-align: center;
    }

    .hero h1 {
        font-size: 5em;
    }

    .hero h2 {
        font-size: 3em;
    }

.inBetween {
    background-image: url("./Images/middle.svg");
    height: 150px;
}

.about {
    height: 300px;
    background-color: #08121f;
}

    .about h3, .about p {
        color: #fbae3c;
        position: relative;
        text-align: center;
    }

    .about h3 {
        font-size: 2em;
        margin: 0px;
    }

    .about p {
        font-size: 1.3em;
        width: 90vw;
        left: 50%;
        transform: translate(-50%);
    }

.unity {
    background-image: url("./Images/sections/unity.svg");
    z-index: 1;
    background-position: center center;
}

.cs {
    background-image: url("./Images/sections/cs.png");
    z-index: 2;
}

.vr {
    background-image: url("./Images/sections/xr.png");
    z-index: 3;
}

.section {
    position: relative;
    height: 20em;
    width: 100%;
    background-attachment: fixed;
    box-shadow: 0px -5px 20px;
    transition: all 0.2s ease-in-out;
}

    .section h2 {
        text-align: left;
        margin: 0px 0px 0px 40px;
        font-size: 2em;
        position: relative;
        top: 50%;
        color: white;
        transform: translateY(-50%);
        max-width: 40%;
        text-shadow: 1px 1px 20px black;
    }

    .section:hover img {
        height: 11em;
    }

.myWork_img {
    z-index: -1;
    height: 10em;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    transition: all .2s ease-in-out;
}

#threeCanvas {
    pointer-events: none;
    z-index: 5;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}

#UnityObject {
    height: 20em;
    width: 20em;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
}

.projects {
    background-color: #08121f;
    margin: 0px;
    padding: 20px;
}

    .projects h2 {
        text-align: center;
        color: #fbae3c;
        font-size: 2.3em;
    }

.project {
    height: 300px;
    background-color: #0c1c30;
    margin: 40px 20px 40px 20px;
    box-shadow: 0px 8px 20px black;
    position: relative;
    color:white;
}

.pj-text {
    position: absolute;
    top: 10%;
    background-color:rgba(0,0,0,0.8);
    padding:20px;
}

.left {
    left: 30px;
    text-align: left;
}

.right {
    right: 30px;
    text-align: right;
}

.GetButtonArea {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#char-poser {
    background-image: url("https://img.itch.zone/aW1hZ2UvMTMyOTI4OC83NzMwMjgzLnBuZw==/original/humnLU.png");
    background-position: 50% 50%;
}

#tilenet {
    background-image: url("https://img.itch.zone/aW1hZ2UvMTM1Njk2NC83ODk5MzcxLmpwZw==/original/M4%2Bqtl.jpg");
    background-position: 50% 50%;
}

.contacts {
    height: 200px;
    padding: 30px 0px 100px 0px;
    background-color: #08121f;
    color: #fbae3c;
    text-align: center;
}

    .contacts h2 {
        font-size: 2.3em;
    }

    .contacts a {
        color: #8a416e;
    }

#email {
    font-size: 1.5em;
}

.fa-brands:before {
    color: #fbae3c;
    display: inline-block;
    padding: 20px;
    font-size: 1.5em;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
    background: #8a416e;
}

.fa-brands:hover {
    opacity: 0.7;
}

@media screen and (max-device-width: 480px), (max-width: 750px) {
    .section h2 {
        text-align: center;
        font-size: 5vw;
        max-width: 100%;
    }

    .myWork_img {
        height: 8em;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.4;
    }

    .section:hover img {
        height: 6em;
    }
}
