
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    background-color: #fbae3c;
    font-family: 'Roboto', sans-serif;
}

.hero {
    height: 25em;
    background-image: url("./Images/hero.svg");
    background-size: cover;
}

    .hero h1, .hero h2
    {
        color: #fbae3c;
        position: relative;
        top: 100px;
        text-align: center;
        margin: 0px;
    }

    .hero h1 {
        font-size: 5em;
    }

    .hero h2 {
        font-size: 3em;
    }

.inBetween {
    background-image: url("./Images/middle.svg");
    height: 150px;
}

.about {
    height: 300px;
    background-color: #08121f;
}

    .about h3, .about p {
        color: #fbae3c;
        position: relative;
        text-align: center;
    }

    .about h3 {
        font-size: 2em;
        margin: 0px;
    }

    .about p {
        font-size: 1.3em;
        width: 90vw;
        left: 50%;
        transform: translate(-50%);
    }

.unity {
    background-image: url("./Images/sections/unity.png");
    z-index: 1;
}

.cs {
    background-image: url("./Images/sections/cs.png");
    z-index: 2;
}

.vr {
    background-image: url("./Images/sections/xr.png");
    z-index: 3;
}

.ar {
    background: rgb(61,167,121);
    background: linear-gradient(142deg, rgba(61,167,121,1) 43%, rgba(10,136,114,1) 60%);
    z-index: 4;
}


.section {
    position: relative;
    height: 20em;
    background-attachment: fixed;
    box-shadow: 0px -5px 20px;
}

    .section h2 {
        text-align: left;
        margin: 0px 0px 0px 40px;
        font-size: 2em;
        position: relative;
        top: 50%;
        color: white;
        transform: translateY(-50%);
        max-width: 40%;
        text-shadow: 1px 1px 20px black;
    }

    .section:hover img {
        height: 11em;
    }

body {
    margin: 0px;
}

.section h1, .section h2, .section p {
    /*margin: 0px;*/
}

.myWork_img {
    z-index: -1;
    height: 10em;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    transition: all .2s ease-in-out;
}

.contacts {
    height: 200px;
    padding: 30px 0px 100px 0px;
    background-color: #08121f;
    color: #fbae3c;
    text-align: center;
}

    .contacts h3
    {
        font-size: 2.3em;
    }

    .contacts a
    {
        color: #8a416e;
    }

#email {
    font-size: 1.5em;
}

.fa:before {
    color: #fbae3c;
    display: inline-block;
    padding: 20px;
    font-size: 1.5em;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
    background: #8a416e;
}

    .fa:hover {
        opacity: 0.7;
    }

@media screen and (max-device-width: 480px), (max-width: 750px) {
    .section h2 {
        text-align: center;
        font-size: 5vw;
        max-width: 100%;
    }

    .myWork_img {
        height: 8em;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.4;
    }

    .section:hover img {
        height: 6em;
    }
}
